WorkingWithRAM/.vscode/
FunctionLibrary/.vscode/
.vscode/
WorkingWithRAM/build/
FunctionLibrary/ZPC_mem.c
FunctionLibrary/ZPC_pinout.h
FunctionLibrary/ZPC_setup.c
WorkingWithRAM/z80_prog/simple.bin
WorkingWithRAM/z80_prog/simple.lst
WorkingWithRAM/z80_prog/simple.bin
WorkingWithRAM/z80_prog/simple.lst
FastVersion/.gitignore
FastVersion/z80_prog/ram_diagnostics.bin
FastVersion/z80_prog/ram_diagnostics.lst
WorkingWithRAM/z80_prog/ram_diagnostics.bin
*.lst
*.bin
VGA/.pio/
ConfigurableVersion/.pio/
FastVersion/.pio/
RunningBasic/.pio/


.vscode/settings.json
.vscode/c_cpp_properties.json
ConfigurableVersion/basic/hexify.py
ConfigurableVersion/basic/hexify.py
FastVersion/basic/hexify.py
FastVersion/platformio.ini
ShowMemory/platformio.ini
ConfigurableVersion/program.h